main {
    background-image: url('/static/Gemini_Generated_Image_2ladnu2ladnu2lad.png');
     background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 1000px;
    margin: 0;
}



.input-group input {

    padding: 10px;
    font-size: 16px;
    margin-top: 400px;

}
