{% extends "base.html" %}

{% block body %}

    <main style="background-image: url('static/Gemini_Generated_Image_rmc8ffrmc8ffrmc8.png');background-size: cover;background-repeat: no-repeat;background-position: center;height: 1000px;margin: 0;">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ msg }}
                
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

                {% endfor %}
            {% endif %}
        {% endwith %}
         <a class="btn btn-secondary" href="{{ url_for('main') }}" role="button">HOME</a>
        <div class="container text-center">
                <div class="row align-items-center">
                <form action="{{ url_for('login') }}" method="post">
                
                    <div class="row-6">
                    
                        <label style="color:bisque" for="email">Email:</label>
                        <input type="email" id="email" name="email" required><br><br>
                    </div>

                    <div class="row-6">
                            <label style="color:bisque" for="password">Password:</label>
                            <input type="password" id="password" name="password" required><br><br>
                    
                    </div>

                    <div class="row-6">
                        <input type="submit" value="Log in">

                    </div>
                    
                    <div>
                        <a class="btn btn-warning" href="{{ url_for('forgot_password') }}">Get Code?</a>
                    </div>
                    
                    
                    
            
                
                    
                </form>
        </div>                       
    </main>

{% endblock %}